html, body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.wrapper {
    min-height: 100%;
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 155px; /* .push must be the same height as .footer */
}

*{
    background-color: rgb(255, 255, 255);
    font-family:sans-serif;
}
li {
    list-style-type: none;
}

#homeb {
    list-style-type: none;
    font-size: 40px;
    font-family: 'Ranchers', cursive;
}
#homeb a {
    text-decoration: none;
    color: rgb(114, 146, 250);

}
#homeP{
    font-size: 30px;
    background-color: ivory;
    color: lightslategray;
    text-align: center;
    font-family: cursive;
}
#youCanFind{
    font-size: 25px;
    font-family: unset;
    margin-left: 17px;
    color: rgb(114, 146, 250);
    margin-top: 130px;
}
#sales{
    width: 100%;
}
label {
    background-color: #E8D1DB;
    font-family: cursive;
    margin-right: 10px;
}

#Salesb li {
    font-size: 30px;
    font-family:'Ranchers', cursive ;
    font-weight: bold;
}
#Salesb li a {
    text-decoration: none;

}
h1{
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: rgb(114, 146, 250);
    font-size: 71px;
    margin-top: -30px;
}
#homeh1{
    font-family: 'Anton', sans-serif;
}
h3{
    font-family: 'El Messiri', sans-serif;
    margin-left: 20px;
    margin-bottom: 0px;
    font-size: 30px;
}
#welcomeToSales{
    font-size: 29px;
    text-align: center;
    width: 338px;
    position: relative;
    left: 575px;
    color: lightslategrey;
    font-family: 'El Messiri';
    background-color: ivory;
}

fieldset{
background-color: #E8D1DB;
display: inline-block;
margin-top: 49px;
margin-bottom: -71px;
padding-right: 139px;
border-style: dashed;
border-width: thick;
position: relative;
left: 500px;
}
fieldset h3 {
    position: relative;
    display: inline-block;
    background-color: #E8D1DB;
    bottom: 18px;
    font-family: sans-serif;
}

form{
    background-color: #E8D1DB;
}
input{
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #ffecf45b;
    border-color: silver;
}
#container{
    margin-top: 100px;
    margin-left: 288px;
}
#submitB{
    font-family: cursive;
    width: 102px;
    height: 36px;
    font-size: 22px;
    border-style: outset;
    background-color: gainsboro;
    position: relative;
    left: 392px;
    bottom: 62px;
}
table{
    border-style: solid;
    

}
tr{
    border-style: solid;
}
th{
    border-style: solid;
    font-family:'El Messiri', sans-serif ;
    background-color: #E8D1DB;;
}
td{
    border-style: solid;
    font-family: 'El Messiri', sans-serif;
    text-align: center;
    background-color: #FFE6FB;
}

h3{
 font-family: 'Josefin Sans', sans-serif;;
 color: royalblue;
}
#homep{
    font-size: 35px;
    font-family: 'Josefin Sans', sans-serif;

}
#loc {
    
    font-size: 20px;
    font-family: monospace;
    color:lightslategray;
}
#loc li{
    list-style: circle;
}

h4 {
    color:rgb(114, 146, 250);
    font-family: sans-serif;
    font-size: 30px;
}
.photos{
    width: 15%;
}

footer{
    padding-top: 16px;
    font-size: 20px;
    margin-top: 90px;
    margin-bottom: 0px;
    height: 80px;
    background-color: #FFE6FB;
    text-align: center;
    border-style: inset;
}
footer h3 {
    display: inline-block;
    background-color: #FFE6FB;
    color: lightslategray;;
    font-family: cursive;
    font-size: smaller;
    

}
footer p{
    text-align: left;
    display: inline-block;
    font-size: 14px;
    position: relative;
    right: 740px;
    background-color: #FFE6FB;
    font-family: cursive;
    color: lightslategray;;
}